In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('weather.csv')
del df['Unnamed: 0']
df.head()

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,oktyabrskiy,68.0,RU,1.584065e+09,96.0,54.48,53.47,33.64,9.13
1,ribeira grande,25.0,PT,1.584065e+09,83.0,38.52,-28.70,55.51,8.66
2,nikolskoye,90.0,RU,1.584065e+09,96.0,59.70,30.79,35.01,6.71
3,samfya,100.0,ZM,1.584065e+09,98.0,-11.36,29.56,64.09,2.24
4,albany,75.0,US,1.584065e+09,85.0,42.60,-73.97,48.20,8.05

In [10]:
df.to_html('table.html', na_rep='---')